# LEAP VARS (AI service)
# Get API key - https://docs.tryleap.ai/authentication
#LEAP_API_KEY=le_b085ac83_4FK12BRY2lJ4G5vmAN0Bz988
## Generate a random secret
#LEAP_WEBHOOK_SECRET=your-webhook-secret
# Get Leap Workflow ID - https://docs.workflows.tryleap.ai/reference/Workflow%20Runs/run_workflow
#LEAP_WORKFLOW_ID=wkf_HuWirC4sy7L5Dp

# With vercel deploy supabase env vars are auto generated!
# Configure auth magic link & redirect urls > https://github.com/leap-ai/headshots-starter#5-magic-link-auth-supabase
# Locally get Supabase details from your project settings > API - https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# VERCEL BLOB VARS (Image storage service)
#BLOB_READ_WRITE_TOKEN=your-blob-read-write-token

# RESEND VARS (Email service)
#RESEND_API_KEY=your-resend-api-key

# STRIPE VARS (Payment service)
STRIPE_SECRET_KEY=sk_test_51OpD8JEWwwv9dG4hmXCMIviiNgftJpGYMqamJvPxQEy3Ykh1wcviHZZnrH0362EvCVMBK96wLabDojNdYhHdhviu00Wvv1SIYW
STRIPE_WEBHOOK_SECRET=whsec_kXhRYY08FEKVzT0JSrdReuSW3Pu1p2WZ
STRIPE_PRICE_ID_ONE_CREDIT=price_1OpESnEWwwv9dG4hvMqCzYHz
STRIPE_PRICE_ID_THREE_CREDITS=price_1OpESLEWwwv9dG4h8Ow1Y6vW
STRIPE_PRICE_ID_FIVE_CREDITS=price_1OpEsNEWwwv9dG4hI4MmEjc5
NEXT_PUBLIC_STRIPE_IS_ENABLED=true # set to true to enable Stripe payments

# DEPLOYMENT
DEPLOYMENT_PROVIDER=vercel # or replit
VERCEL_URL=https://breeze-5k9ay4ybb-outsourcebreeze-breeze.vercel.app # eg. headshots-starter.vercel.app to catch webhooks from Leap. Use ngrok locally (example: 0aaf-204-11-230-50.ngrok-free.app)